<h1>Photo Gallery</h1>

<div class="row row-cols-3 row-cols-md-4 g-3">
  <div class="col">
    <div class="card">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Elon_Musk_Royal_Society_%28crop2%29.jpg/640px-Elon_Musk_Royal_Society_%28crop2%29.jpg" class="elons" alt="Elon">
      <div class="card-body">
        <h5 class="card-title">Elon Musk</h5>
        <p class="card-text">Elon Reeve Musk. June 28, 1971 (age 51). Pretoria, Transvaal, South Africa</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://tesla-cdn.thron.com/delivery/public/image/tesla/195458a0-ff67-488c-b972-14d23d2c42fb/bvlatuR/std/1200x630/ms-homepage-social" class="card-img-top" alt="Tesla">
      <div class="card-body">
        <h5 class="card-title">Tesla</h5>
        <p class="card-text">Tesla Model S</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://cloudfront-us-east-1.images.arcpublishing.com/metroworldnews/MH42ZQ7JZZEFVKPBFY4QBH4QKY.jpg" class="card-img-top" alt="SpaceX">
      <div class="card-body">
        <h5 class="card-title">SpaceX</h5>
        <p class="card-text">SpaceX</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://i0.wp.com/imgs.hipertextual.com/wp-content/uploads/2022/04/twitter-elon-musk-scaled.jpg?fit=2560%2C1707&quality=50&strip=all&ssl=1" class="card-img-top" alt="Twitter">
      <div class="card-body">
        <h5 class="card-title">Twitter</h5>
        <p class="card-text">Twitter</p>
      </div>
    </div>
  </div>
</div>