<h1>Works</h1>


<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Tesla
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Tesla, Inc.—originally Tesla Motors—was incorporated in 2003 by Martin Eberhard and Marc Tarpenning, who financed the company until the Series A round of funding. Both men played active roles in the company's early development prior to Musk's involvement.[108] Musk led the Series A round of investment in February 2004; he invested $6.5 million, became the majority shareholder, and joined Tesla's board of directors as chairman.[109] Musk took an active role within the company and oversaw Roadster product design but was not deeply involved in day-to-day business operations.[110]

Following a series of escalating conflicts in 2007, and the financial crisis of 2007–2008, Eberhard was ousted from the firm.[111][page needed][112] Musk assumed leadership of the company as CEO and product architect in 2008.[113] A 2009 lawsuit settlement with Eberhard designated Musk as a Tesla co-founder, along with Tarpenning and two others.[114][115] As of 2019, Musk was the longest-tenured CEO of any automotive manufacturer globally.[116] In 2021, Musk nominally changed his title to "Technoking" while retaining his position as CEO.[117]</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        SpaceX
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Tesla, Inc.—originally Tesla Motors—was incorporated in 2003 by Martin Eberhard and Marc Tarpenning, who financed the company until the Series A round of funding. Both men played active roles in the company's early development prior to Musk's involvement.[108] Musk led the Series A round of investment in February 2004; he invested $6.5 million, became the majority shareholder, and joined Tesla's board of directors as chairman.[109] Musk took an active role within the company and oversaw Roadster product design but was not deeply involved in day-to-day business operations.[110]

Following a series of escalating conflicts in 2007, and the financial crisis of 2007–2008, Eberhard was ousted from the firm.[111][page needed][112] Musk assumed leadership of the company as CEO and product architect in 2008.[113] A 2009 lawsuit settlement with Eberhard designated Musk as a Tesla co-founder, along with Tarpenning and two others.[114][115] As of 2019, Musk was the longest-tenured CEO of any automotive manufacturer globally.[116] In 2021, Musk nominally changed his title to "Technoking" while retaining his position as CEO.[117]</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Twitter
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Musk expressed interest in buying Twitter as early as 2017,[186] and had previously questioned the platform's commitment to freedom of speech.[187][188] In January 2022, Musk started purchasing Twitter shares, reaching a 9.2% stake by April,[189] making him the largest shareholder.[190][e] When this was publicly disclosed, Twitter shares experienced the largest intraday price surge since the company's 2013 IPO.[192] On April 4, Musk agreed to a deal that would appoint him to Twitter's board of directors and prohibit him from acquiring more than 14.9% of the company.[193][194] However, on April 13, Musk made a $43 billion offer to buy Twitter, launching a takeover bid to buy 100% of Twitter's stock at $54.20 per share.[190][195] In response, Twitter's board adopted a "poison pill" shareholder rights plan to make it more expensive for any single investor to own more than 15% of the company without board approval.[196] Nevertheless, by the end of the month Musk had successfully concluded his bid for approximately $44 billion.[197] This included about $12.5 billion in loans against his Tesla stock and $21 billion in equity financing.[198][199]</div>
    </div>
  </div>
</div>